body {
    background-color: #e9ebee;
    box-sizing: border-box;
}

li{
    text-decoration: none;
    list-style: none;
    padding: 10px 10px;
    width: 120px;
    text-align: center;
    background-color: #e9ebee;

}


li:hover{
    cursor: pointer;
}

.btn .btn-primary :hover{
    color: #fff !important;
    background-color: #286090 !important;
    border-color: #204d74 !important;
}

.active{
    background-color: white;
    color: black;
    border: 1px solid white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#formContainer{
    background-color: white;
    padding: 20px;
}


#draggableQrCode{
    cursor: grab;
}

.dragBox {
  height: 20em;
  margin: 0 auto;
  position: relative;
  font-weight: bold;
  line-height: 95px;
  color: #999;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}


.packImgUploaded{
    height: 50px;
}

.dragBox input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
  }

.draging {
  transform: scale(1.1);
}

textarea{
    resize: none;
}

#hiddenNaturalDiv{
    height: 0px; width:0px; overflow:hidden;
}

#productImage{
    max-height: 700px;
}
